version: 1.0.{build}

environment:
    nodejs_version: "12"

build_script:

- ps: >-
    $env:package_version = (Get-Content -Raw -Path package.json | ConvertFrom-Json).version

    yarn install

    mkdir tmp

    cd tmp

    appveyor DownloadFile https://github.com/MicroPad/Web/releases/download/v$($env:package_version)/micropad.tar.xz

    7z e micropad.tar.xz -y; 7z x micropad.tar -y

    rm build/service-worker.js

    rm build/*.map

    rm build/static/*/*.map

    cp -r build ../core

    cd ..

    yarn build

    npx electron-builder

test: off

artifacts:

- path: dist/

deploy: off
